{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">



    <title>Student Attendance Student Wise Print</title>
</head>
<body>
<style>
    hr {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    border: 0;
    border-top: 1px solid #2a3f54;
}
</style>
<div class="container">


 <div class="row">
     <div class="col-md-2 col-sm-6">
             <img style="width: 120px;height: 120px" src="{% static 'images/school_logo.png' %}" alt="">

     </div>

     <div class="col-md-10 col-sm-6">

           <h2 style="padding-top: 15px"><strong>Christ Jyoti School,</strong><br>Mantripukhri, Imphal-East-795002</h2>

     </div>

 </div>
    <h4> <strong>Student Attendance Student Wise:</strong></h4>
    <hr>

    <div class="row" style="margin: 10px">



         <div class="col-md-3">
            <h4 ><strong>Student Name:</strong> Kylie </h4>

        </div>


 <div class="col-md-3">
            <h4 ><strong>Class:</strong> 2</h4>

        </div>


         <div class="col-md-3">
            <h4 ><strong>Section:</strong> A</h4>

        </div>

        <div class="col-md-3">
            <h4 ><strong>Subject:</strong> Science</h4>

        </div>


        <div class="col-md-3">
            <h4 ><strong>Session:</strong> 2017-2018</h4>

        </div>


        <div class="col-md-3">
            <h4 ><strong>From:</strong> 24/1/2018</h4>

        </div>

         <div class="col-md-3">
            <h4 ><strong>To:</strong> 2/1/2018</h4>

        </div>




         <div class="col-md-3">
            <h4 ><strong>Father Name:</strong> Kylie Laishram </h4>

        </div>



         <div class="col-md-3">
            <h4 ><strong>Mother Name:</strong> Kylie  Laishram</h4>

        </div>

         <div class="col-md-3">
            <h4 ><strong>Contact:</strong> +91 9562387451 </h4>

        </div>


         <div class="col-md-6">
            <h4 ><strong>Address:</strong> Mantripukhri Bazar, Imphal East, Manipur-795002 </h4>

        </div>






    </div>


    <hr>

<div class="row" style="margin-top: 10px">


    <table class="table">
                      <thead>
                        <tr>
                          <th>Sl. No.</th>
                          <th>Subject</th>
                          <th>Roll No.</th>
                          <th>Date</th>
                          <th>Present/Absent</th>
                          <th>Remark</th>



                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>Kylie</td>
                          <td>12</td>
                          <td>12/12/2018</td>
                          <td>Absent</td>
                          <td>Lorem ipsum dolor sit amet.</td>
                      </tr>

                        <tr>
                          <th scope="row">1</th>
                          <td>Kylie</td>
                          <td>12</td>
                          <td>12/12/2018</td>
                          <td>Present</td>
                          <td>NA</td>
                      </tr>
                       <tr>
                          <th scope="row">1</th>
                          <td>Kylie</td>
                          <td>12</td>
                          <td>12/12/2018</td>
                          <td>Absent</td>
                          <td>Lorem ipsum dolor sit amet.</td>
                      </tr>
                      </tbody>
                    </table>




    </div>


</div>


</body>
</html>