{% extends 'index.html' %}
{% load static %}

{% block css %}
    <!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .dataTables_filter {
            width: 50%;
            float: left !important;
            text-align: right;
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 176% !important;
            display: inline-block;
        }

        div.dataTables_wrapper div.dataTables_filter input {
            margin-left: 0.5em;
            display: inline-block;
            width: 161% !important;
        }
    </style>

    <style>
        .avatar-upload {
            position: relative;
            max-width: 205px;
            margin: 10px auto;

        }

        .avatar-upload .avatar-edit {
            position: absolute;
            right: 75px;
            z-index: 1;
            top: 10px;

        }

        .avatar-upload .avatar-edit input {
            display: none;
        }

        .avatar-upload .avatar-edit input + label {
            display: inline-block;
            width: 0px;
            height: 0px;
            margin-bottom: 0;
            border-radius: 100%;
            background: #FFFFFF;
            border: 1px solid transparent;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            font-weight: normal;
            transition: all 0.2s ease-in-out;
            padding: 20px;
        }

        .avatar-upload .avatar-edit input + label:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
            padding: 20px;
        }

        .avatar-upload .avatar-edit input + label:after {
            content: "\f040";
            font-family: 'FontAwesome';
            color: #757575;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;

        }

        .avatar-upload .avatar-preview {
            width: 100px;
            height: 100px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.5);
        }

        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

    </style>
{% endblock %}
{% block  main %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Driver</h3>
                </div>


            </div>

            <div class="clearfix"></div>


            <div class="row">


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Add Driver Detail ({{ request.session.CurrentSchoolSession.currentSessionYear }})</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>


                            <form id="driverAddNewForm" class="form-horizontal form-label-left"
                                  method="post"> {% csrf_token %}

                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    <label>Photo *:</label>

                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' id="Timage"
                                                   accept="image/*"/>
                                            <label style="padding: 20px;font-size: 20px"
                                                   for="Timage"></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreviewAddUser"
                                                 style="background-image: url({% static 'images/user.png' %});">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Name *:</label>
                                    <input type="text" class="form-control has-feedback-left" id="Dname"
                                           placeholder="Driver Name">
                                    <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Phone No. *:</label>
                                    <input type="text" class="form-control has-feedback-left" id="Dphone"
                                           placeholder="Phone No.">
                                    <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Experience *:</label>
                                    <input type="text" class="form-control has-feedback-left" id="Dexperience"
                                           placeholder="Experience">
                                    <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <label>Address *:</label>
                                    <input type="text" class="form-control has-feedback-left" id="Daddress"
                                           placeholder="Address">
                                    <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                </div>


                                <div style="padding-top: 23px" class="col-md-4 col-sm-6 col-xs-12">
                                    <button type="button" class="btn btn-dark" onclick="AddDriver()">Add</button>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Driver List ({{ request.session.CurrentSchoolSession.currentSessionYear }})</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">


                            </p>
                            <table id="DriverTable" class="table table-striped table-bordered bulk_action">
                                <thead>
                                <tr>

                                    <th>ID</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Phone No.</th>
                                    <th>Experience</th>
                                    <th>Address</th>
                                    <th>Added On</th>
                                    <th>Action</th>

                                </tr>
                                </thead>


                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="modal fade bd-example-modal-lg" id="myModalEdit" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Driver Detail</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">

                                            <div class="x_content">
                                                <br/>
                                                <form id="driverEditNewForm" class="form-horizontal form-label-left"
                                                      method="post"> {% csrf_token %}

                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                                        <label>Photo *:</label>

                                                        <div class="avatar-upload">
                                                            <div class="avatar-edit">
                                                                <input type='file' id="ETimage"
                                                                       accept="image/*"/>
                                                                <label style="padding: 20px;font-size: 20px"
                                                                       for="ETimage"></label>
                                                            </div>
                                                            <div class="avatar-preview">
                                                                <div id="EimagePreviewAddUser"
                                                                     style="background-image: url({% static 'images/user.png' %});">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" id="EDriverID">
                                                    <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                                        <label>Name:</label>
                                                        <input type="text" class="form-control has-feedback-left"
                                                               id="EName"
                                                               placeholder="Name">
                                                        <span class="fa fa-pencil form-control-feedback left"
                                                              aria-hidden="true"></span>
                                                    </div>

                                                    <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                                        <label>Phone No.:</label>
                                                        <input type="text" class="form-control has-feedback-left"
                                                               id="EPhone"
                                                               placeholder="Phone No.">
                                                        <span class="fa fa-pencil form-control-feedback left"
                                                              aria-hidden="true"></span>
                                                    </div>

                                                    <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                                        <label>Experience:</label>
                                                        <input type="text" class="form-control has-feedback-left"
                                                               id="EExperience"
                                                               placeholder="Experience">
                                                        <span class="fa fa-pencil form-control-feedback left"
                                                              aria-hidden="true"></span>
                                                    </div>

                                                    <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                                                        <label>Address:</label>
                                                        <input type="text" class="form-control has-feedback-left"
                                                               id="EAddress"
                                                               placeholder="Address">
                                                        <span class="fa fa-pencil form-control-feedback left"
                                                              aria-hidden="true"></span>
                                                    </div>


                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="updateDriver()" class="btn btn-success"><i
                                            class="fa fa-check m-right-xs"></i>Update
                                    </button>

                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                            class="fa fa-times m-right-xs"></i>Close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade bd-example-modal-lg" id="myModalDelete" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding-left: 20px;padding-bottom: 30px">
                                    <input type="hidden" id="driverDeleteID">
                                    <h4>Are you sure you want to delete this driver?</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="DeleteDriver()" class="btn btn-success"><i
                                            class="fa fa-check m-right-xs"></i>Yes
                                    </button>

                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                            class="fa fa-times m-right-xs"></i>Close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    {#        <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>#}
    {#    <!-- Datatables -->#}
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <script>


         function readURLAddUser(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewAddUser').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreviewAddUser').hide();
                    $('#imagePreviewAddUser').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#Timage").change(function () {
            readURLAddUser(this);
        });


         function EreadURLAddUser(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#EimagePreviewAddUser').css('background-image', 'url(' + e.target.result + ')');
                    $('#EimagePreviewAddUser').hide();
                    $('#EimagePreviewAddUser').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#ETimage").change(function () {
            EreadURLAddUser(this);
            editDriverPhoto(this);
        });

        function AddDriver() {
            var Dname = $('#Dname').val();
            var Daddress = $('#Daddress').val();
            var Dphone = $('#Dphone').val();
            var Dexperience = $('#Dexperience').val();
            var Dimage = document.getElementById("Timage").files[0];
            var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
            data = new FormData();
            data.append('Dname', Dname);
            data.append('Daddress', Daddress);
            data.append('Dphone', Dphone);
            data.append('Dexperience', Dexperience);
            data.append('Dimage', Dimage);

            data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


            if (Dname === "" ||Daddress === "" ||Dphone === "" ||Dexperience === ""
            ||document.getElementById("Timage").files.length === 0 ) {

                $('#name_status').addClass('validate_data');
                $('#name_status').html('* fileds are required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {
                $.ajax({
                    type: 'post',
                    url: '/apiT/addDriver/',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.response === 'ok') {
                            $('#name_status').addClass('validate_data');
                            $('#name_status').html('New Driver added successfully.').fadeIn().fadeOut(2000);

                            $('#driverAddNewForm').trigger('reset');
                            $('#imagePreviewAddUser').css('background-image', "url('{% static 'images/user.png' %}')");
                            DriverTable.ajax.reload();
                        }
                        else {
                            $('#name_status').addClass('validate_data');
                            $('#name_status').html(""+response.response).fadeIn().fadeOut(2000);

                        }

                    },
                    error: function () {
                        $('#name_status').addClass('validate_data');
                        $('#name_status').html('error.').fadeIn().fadeOut(2000);
                        ;
                    }
                });
            }

        }

        var DriverTable;
        $(document).ready(function () {
            DriverTable = $('#DriverTable').DataTable({
                "ajax": "/apiT/getDriverList/",
                "columns": [
                    {"data": "DriverID"},
                    {"data": "Photo"},
                    {"data": "Name"},
                    {"data": "Phone"},
                    {"data": "Experience"},
                    {"data": "Address"},
                    {"data": "AddedOn"},
                    {"data": "Action"}
                ],
                "order": [['0', 'desc']],

            });
            DriverTable.column(0).visible(false)
            return DriverTable;
        });


        function editDriverDetail(id) {

            $.ajax({
                type: 'get',
                url: '/apiT/getDriverDetail/' + id + '/',
                success: function (response) {
                    $('#EDriverID').val(response.data["DriverID"]);
                    $('#EName').val(response.data["Name"]);
                    $('#EPhone').val(response.data["Phone"]);
                    $('#EExperience').val(response.data["Experience"]);
                    $('#EAddress').val(response.data["Address"]);
                    $('#EimagePreviewAddUser').css('background-image', "url("+response.data['Photo']+")");

                },
                error: function () {
                    $('#name_status').addClass('validate_data');
                    $('#name_status').html('error.');
                }
            });
        }

 function updateDriver() {
            var EDriverID = $('#EDriverID').val();
            var EName = $('#EName').val();
            var EPhone = $('#EPhone').val();
            var EExperience = $('#EExperience').val();
            var EAddress = $('#EAddress').val();
            var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
            data = new FormData();
            data.append('DID', EDriverID);
            data.append('Dname', EName);
            data.append('Dphone', EPhone);
            data.append('Dexperience', EExperience);
            data.append('Daddress', EAddress);

            data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


            if (EName === "" ||EPhone === "" ||EExperience === "" ||EAddress === "") {

                $('#name_status').addClass('validate_data');
                $('#name_status').html('* fileds are required.');
                $('#name_status').fadeIn().fadeOut(2000);

            }
            else {
                $.ajax({
                    type: 'post',
                    url: '/apiT/editDriverDetail/',
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.response === 'ok') {
                            $('#name_status').addClass('validate_data');
                            $('#name_status').html('Driver detail updated successfully.').fadeIn().fadeOut(2000);
                            $('#myModalEdit').modal('toggle');

                            DriverTable.ajax.reload();
                        }
                        else {
                            $('#name_status').addClass('validate_data');
                            $('#name_status').html(""+response.response).fadeIn().fadeOut(2000);

                        }

                    },
                    error: function () {
                        $('#name_status').addClass('validate_data');
                        $('#name_status').html('error.').fadeIn().fadeOut(2000);
                        ;
                    }
                });
            }

        }


        function editDriverPhoto() {
            var imageData = document.getElementById("ETimage").files[0];
            var form_data = new FormData();
            form_data.append('file', imageData);
            var EDriverID = $('#EDriverID').val();
            form_data.append('EDriverID', EDriverID);

            $.ajax({
                type: 'post',
                url: '/apiT/editDriverPhoto/',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,


                success: function (response) {
                    if (response.response === 'ok') {
                        $('#name_status').addClass('validate_data');
                        $('#name_status').html('Driver Photo Changed successfully.');
                        $('#name_status').fadeIn().fadeOut(2000);
                        DriverTable.ajax.reload();

                    }
                    else {
                        $('#name_status').addClass('validate_data');
                        $('#name_status').html(""+response.response);
                        $('#name_status').fadeIn().fadeOut(2000);

                    }


                },
                error: function () {
                    $('#name_status').addClass('validate_data');
                    $('#name_status').html('error.');
                    $('#name_status').fadeIn().fadeOut(2000);

                }
            });


        }

  function deleteDriverDetail(id) {
            $('#driverDeleteID').val(id)

  }

  function DeleteDriver() {


            var driverDeleteID = $('#driverDeleteID').val();

            data = new FormData();
            data.append('deleteID', driverDeleteID);


            $.ajax({
                type: 'post',
                url: '/apiT/deleteDriverDetail/',
                data: data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (response) {
                    if (response.response === 'ok') {
                        $('#name_status').addClass('validate_data');
                        $('#name_status').html('Driver Deleted.').fadeIn().fadeOut(2000);
                        DriverTable.ajax.reload();
                        $('#myModalDelete').modal('toggle');



                    }
                    else {
                        $('#name_status').addClass('validate_data');
                        $('#name_status').html(""+response.response);
                        $('#name_status').fadeIn().fadeOut(2000);

                    }

                },
                error: function () {
                    $('#name_status').addClass('validate_data');
                    $('#name_status').html('error.').fadeIn().fadeOut(2000);
                }
            });

        }




    </script>

{% endblock %}
